<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to EvolveJS</title>
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
  <%- cssFile %>
</head>
<body class="bg-gray-900">
	<div class="mt-[-50px] flex h-screen items-center justify-center">
		<div class="max-w-full flex flex-col px-4 text-center lg:mx-0 lg:max-w-3xl lg:pt-8">
		  <img class="h-56 w-56 m-auto" src="/images/logo.png" alt="logo">
		  <h1 class="text-5xl font-bold tracking-tight sm:text-6xl text-center text-white">
			<span class="text-cyan-400">Evolve</span><span class="text-indigo-400">JS</span>
		  </h1>
		  <p class="text-gray-300">
		    Evolusi dalam Pengembangan Web dengan Modularitas. 
		  </p>
		  <div class="mt-6">
			<a class="px-4 py-2 rounded text-white bg-gradient-to-r hover:bg-gradient-to-l from-sky-500 to-indigo-500" href="https://github.com/fitri-hy/evolve-js.git" target="_blank">Ayo Mulai</a>
		   </div>
		</div>
	</div>
	<div class="max-h-screen max-w-screen fixed left-[calc(50%-4rem)] bottom-10 -z-20 transform-gpu blur-3xl sm:left-[calc(50%-18rem)] lg:left-48 lg:top-[calc(50%-30rem)] xl:left-[calc(50%-24rem)]" aria-hidden="true">
		<div class="aspect-[1108/632] w-[69.25rem] bg-gradient-to-r from-[#80caff] to-[#4f46e5] opacity-20"
		  style="clip-path:polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)">
		</div>
	</div>
</body>
</html>
